@inherits LayoutComponentBase

<NavMenu />

<!-- Background image -->
<div class="p-5 text-center bg-image imagen-header">

    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); margin-top:130px; padding:10px;">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Blog Blazor Web</h1>
                <h4 class="mb-3">Personal</h4>
                <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" href="https://github.com/mario-alexx" role="button">Más Información</a>
            </div>
        </div>
    </div>
</div>
<!-- Background image -->
<div class="container">
    <div class="main">
        @Body
    </div>
</div>
