<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
        <a class="navbar-brand text-white" href="/">Blog/Posts</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <NavLink class="nav-link text-white" href="/" Match="NavLinkMatch.All">
                    <span class="p-2"></span> Inicio
                </NavLink>
                <NavLink class="nav-link text-white" href="posts">
                    <span class="p-2"></span> Posts
                </NavLink>
            </ul>

            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <NavLink class="nav-link text-white" href="registrarse">
                    <span class="p-2"></span> Registrarse
                </NavLink>
                <NavLink class="nav-link text-white" href="acceder">
                    <span class="p-2"></span> Acceder
                </NavLink>
            </ul>
        </div>
    </div>
</nav>


@code {


}
