@page "/registrarse"

<EditForm Model="UsuarioParaRegistro" OnValidSubmit="RegistrarUsuario" class="pt-4">
    <DataAnnotationsValidator />
    <div class="py-4">
        <div class=" row form-group ">
            <div class="col-6 offset-3 ">
                <div class="card border">
                    <div class="card-body px-lg-5 pt-4">
                        <h3 class="col-12 text-success text-center py-2">
                            <strong>Registrarse</strong>
                        </h3>
                        @if (MostrarErroresRegistro)
                        {
                            <div>
                                @foreach (var error in Errores)
                                {
                                    <p class="text-danger text-center">@error</p>
                                }
                            </div>
                        }
                        <hr style="background-color:aliceblue" />
                        <div class="py-2">
                            <InputText @bind-Value="UsuarioParaRegistro.Nombre" class="form-control" placeholder="Ingrese el nombre" />
                            <ValidationMessage For="(()=>UsuarioParaRegistro.Nombre)" />

                        </div>
                        <div class="py-2">
                            <InputText @bind-Value="UsuarioParaRegistro.Email" class="form-control" placeholder="Ingrese el email" />
                            <ValidationMessage For="(()=>UsuarioParaRegistro.Email)" />

                        </div>
                        <div class="py-2 input-group">
                            <InputText @bind-Value="UsuarioParaRegistro.NombreUsuario" class="form-control" placeholder="Ingrese el usuario" />
                            <ValidationMessage For="(()=>UsuarioParaRegistro.NombreUsuario)" />

                        </div>
                        <div class="form-row py-2">
                            <div class="col">
                                <InputText @bind-Value="UsuarioParaRegistro.Password" type="password" id="password" placeholder="Ingrese el password" class="form-control" />
                                <ValidationMessage For="(()=>UsuarioParaRegistro.Password)" />
                            </div>

                        </div>
                        <hr style="background-color:aliceblue" />
                        <div class="py-2">
                            @if (EstaProcesando)
                            {
                                <button type="submit" class="btn btn-success btn-block disabled"><i class="fas fa-sign-in-alt"></i> Porfavor espere...</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i> Registrarse</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>
